@use './assets/styles/common.scss';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* 👇 新增：业务主题变量（默认 = 测试环境颜色） */
    --sidebar-bg: #001529;
    --sidebar-hover: #0a2a4a;
    --sidebar-active: #1890ff;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

a {
    color: #1890ff;
    cursor: pointer;

    &:hover {
        color: #1890ff90;
    }
}

#app {
    width: 100vw;
    height: 100vh;
    background: #f5f5f5;
    overflow: hidden;
}

/* 滚动条优化 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #8b8b8b;
    border-radius: 8px;
}

::-webkit-scrollbar-corner {
    background: #8b8b8b;
}

::-webkit-scrollbar-thumb:hover {
    background: #636363;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}